/* This stylesheet is optimized for the iPad in portrait orientation, based on thesis_stylesheet_v2.css. The CSS 3 styles are from iPhone & iPad Web Design for Dummies unless otherwise noted. Sizes have also been adjusted from px to em, ex and percentage.

Font courtesy of the Google Font Library (URL: http://www.google.com/webfonts) */

article, body, footer, header, nav, h1, h2, h3, h4, h5, h6, small, img, p, select {
	/* This resets all the listed HTML elements to ensure consistent styling. Table and list elements have been deliberately excepted as resetting causes all cells to collapse into a single column and removes bullet points. The final line here prevents Safari from applying text resizing. */
	border: 0;
	margin: 0;
	padding: 0;
	display: block;
	-webkit-text-size-adjust: none;
}

body {
	background: #9B7E71;
	font-family: 'Noticia Text', serif;
	font-size: 16px;
	text-align: left;
	max-width: 1000px;
}

#banner {
	background-image: url(../Pictures/thesis_banner.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	height: 300px;
	width: 1000px;
	/* The following adds a shadow to box elements. */
	box-shadow: .2ex 0ex .4ex black;
}

header {
	background-color: #780904;
	clear: both;
	margin: 0;
	width: 1000px;
	/* The following rounds corners on box elements */
	border-bottom-left-radius: 1em; 
	border-bottom-right-radius: 1em;
	/* The following adds a shadow to box elements. */
	box-shadow: .2ex .2ex .4ex black;
}

h1 {
	color: #99919E;
	font-weight: bold;
	font-size: 4.5ex;
	margin: 0;
	padding: 0 .25ex 0 15.5ex;
	text-indent: -12.5ex;
	/* The following adds a shadow to text. The numbers correspond to horizontal/vertical/blur radius/color */
	text-shadow: .2ex .2ex .4ex black;
}

nav {
/* Height must be adjusted if the sidebar links change */
	background-color: #780904;
	float: left;
	height: 31.5em;
	margin: 1em 0 1em 0;
	width: 18em;
	/* The following rounds corners on box elements */
	border-radius: 1em;
	/* The following adds a shadow to box elements. */
	box-shadow: .2ex .2ex .4ex black;
}

h6 {
	font-weight: bold;
	font-size: 3.4ex;
	margin: 0;
	padding: .5ex .5ex .5ex .75ex;
	/* see h1 for more on the shadow style */
	text-shadow: .2ex .2ex .4ex black;
}

h6.indent {
	font-weight: bold;
	font-size: 3.4ex;
	margin: 0;
	padding: .5ex .5ex .5ex 2.5ex;
	/* see h1 for more on the shadow style */
	text-shadow: .2ex .2ex .4ex black;
}

a:active {
	color: #99919E;
	text-decoration: none;
}

a:link {
	color: #99919E;
	text-decoration: none;
}

a:visited {
	color: #9B7E71;
	text-decoration: none;
}

article {
	margin: 0;
	padding: 1em 0 0 18em;
	color: #000;
}

h2 {
	color: #780904;
	font-weight: bold;
	font-size: 3.4ex;
	margin: 0;
	padding: 1ex 0 .25ex 1.6ex;
}

p {
	font-size: 3ex;
	margin: 0;
	padding: 0 1em 1ex 1em;
	width: 95%;
}

h3 {
	color: #780904;
	font-weight: bold;
	font-size: 3.2ex;
	margin: 0;
	padding: .75ex 0 .25ex 1.75ex;
}

table {
	background-color: #99919E;
	border: 2px solid #000;
	color: #000;
	font-size: 3ex;
	margin: 1em auto 1em auto;
	width: 24em;
}


/* This class attribute modifying <table> would not detect in portrait mode. In addition, the ISBN field of that table displays as the same colour as the background, despite specifying the colour as #000, on the iPad. When this stylesheet is viewed on a desktop or laptop computer, the ISBN views as intended. */
table.bookshelf {
	background-color: #99919E;
	border: 2px solid #000;
	color: #000;
	font-size: 3ex;
	margin: 1em auto 1em auto;
	width: 24em;
}

table.withimage {
	background-color: #99919E;
	border: 2px solid #000;
	font-size: 3ex;
	margin: 1em auto 1em auto;
	width: 28em;
}

td {
	border: 1px solid #000;
	padding: 2pt;
	width: 11em;
}

ul {
	font-size: 3ex;
	margin: -1ex 0 0 2em;
	padding: 0 0 1em 1em;
	width: 85%;
}

select {
	margin: 2ex 0 2ex 4ex;
	padding: 0;
	font-size: 2.4ex;
}

img.feature {
	margin: auto;
	padding: 1em;
}

img.in_table {
	display: block;
	margin: 4% auto 4% auto;
}

textarea {
	font-size: 1em;
	margin: 0 0 0 .9em;
}

input {
	font-size: .75em;
	margin: 0 0 1ex 1em;
}

input.button {
	font-size: .85em;
	margin: 0 0 0 2em;
}

input.check {
	margin: 0 .5em 0 1em;
	width: 1.75em;
	height: 1.75em;
}

input.radio {
	margin: 0 0 0 1em;
	width: 1.75em;
	height: 1.75em;
}

input.tagbutton {
	font-size: 1.25em;
	margin: 1ex 0 0 2.25em;
}

footer {
	background-color: #780904;
	clear: both;
	height: 2.5em;
	margin: 0;
	width: 1000px;
	/* The following rounds corners on box elements */
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	/* The following adds a shadow to box elements. */
	box-shadow: .2ex 0ex .4ex black;
}

small {
	color: #99919E;
	font-size: 2.5ex;
	padding: .25em 1em 0 0;
	text-align: right;
}